@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
scroll-behavior: smooth;
}

{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
}


a {
text-decoration: none;
color: #000;
}

a:hover {
color: #5e3bee !important;
}

h5 {
font-size: 20px;
}

nav li {
list-style: none;
}
nav {
background-color: #fff;
position: sticky;
top: 0;
padding: 0 85px;
display: flex;
justify-content: space-between;
align-items: center;
height: 80px;
box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
}
nav .logo img {
width: 60px;
height: 60px;
}

nav .logo,
footer .logo {
display: flex;
align-items: center;
}

nav .logo a,
footer.logo a {
margin-left: 8px;
font-weight: bold;
font-size: 20px;
}

nav .logo img,
footer .logo img {
width: 60px;
height: 60px;
}

nav .nav-links {
display: flex;
gap: 16px;
}

nav .nav-links a:hover,
nav .nav-link a.selected {
color: #303f9f;
}

nav button {
color: #1c1e53;
background-color: transparent;
padding: 12px 16px;
border-radius: 5px;
border: 1px solid #1c1e53;
cursor: pointer;
transition: all 0.3s ease;
}

nav button:hover {
background-color: #5e3bee;
border-color: #5e3bee;
color: #fff;
}

.main {
background-color: #deebee;
padding: 90px 85px;
display: flex;
align-items: center;
justify-content: space-between;
gap: 40px;
height: calc(100vh - 80px);
}

nav ul,
footer .top ul {
display: flex;
gap: 40px;
}

nav button#menuButton {
display: none;
align-items: center;
justify-content: center;
font-size: 24px;
padding: 7px;
}

.main .left {
display: flex;
flex-direction: column;
align-items: start;
}

.main .left h3 {
margin-top: 10px;
font-weight: bold;
font-size: 46px;
}

.main .left h3 span {
color: #5e3bee;
}

.main .left p {
margin-top: 20px;
font-size: 22px;
color: #1c1e53;
}

.main .right img {
width: 500px;
border-radius: 60px;
}

.skills {
padding: 110px 85px 0px;
margin-bottom: 100px;
}

.skills h3,
.about .right h3,
.strategies .header h3,
.goal h3 {
font-size: 40px;
margin-top: 10px;
}

.skills .skill-items {
display: flex;
margin-top: 20px;
gap: 30px;
}

.skills .skill-items .item {
background-color: #deebee;
width: 25%;
border-radius: 10px;
padding: 32px;
border-bottom: 4px solid transparent;
cursor: pointer;
transition: all 0.3s ease;
}

.skills .skill-items .item:hover {
border-bottom: 4px solid #5e3bee;
}

.skills .skill-items .item .icon {
display: flex;
align-items: center;
justify-content: center;
background-color: #fff;
width: 46px;
height: 46px;
border-radius: 10px;
margin-bottom: 22px;
box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.skills .skill-items .item .icon i {
font-size: 26px;
color: #006b6a;
}

.skills .skills-items .item h4,
.about .about-items .item h4 .info h4 {
font-size: 18px;
}

.skills .skill-items .item p {
margin-top: 20px;
font-size: 14px;
line-height: 22px;
color: #1c1e53;
}

.about {
padding: 110px;
display: flex;
align-items: center;
gap: 60px;
}

.about .left {
background-color: #deebee;
border-radius: 10px 10px 0 0;
}

.about .left img {
width: 440px;
border-radius: 10px 10px 0 0;
}

.about .right p {
font-size: 16px;
margin-top: 30px;
}

.strategies {
background-color: #deebee;
padding: 110px 85px;
}

.strategies .header {
display: flex;
align-items: center;
margin-bottom: 60px;
justify-content: space-between;
}

.strategies .strategy-items {
display: flex;
align-items: center;
justify-content: space-between;
}

.strategies .strategy-items .item {
width: 30%;
background-color: #fff;
border-radius: 10px;
border-bottom: 4px solid transparent;
cursor: pointer;
box-shadow: 0 5 px 32px rgba(0, 0, 0, 0.15);
transition: all 0.3s ease;
}

.strategies .strategy-items .item:hover {
border-color: #5e3bee;
}

.strategies .strategy-items .item img {
width: 100%;
height: 240px;
object-fit: cover;
border-radius: 10px 10px 20px 20px;
object-position: top;
}
.strategies .strategy-items .item .info {
display: flex;
flex-direction: column;
gap: 14px;
padding: 20px 32px 42px;
}

.strategies .strategy-items .item .info p {
font-size: 13px;
}

.strategies .strategy-items .item .info i {
margin-left: 2px;
font-size: 16px;
}

.goal {
padding: 110px 85px;
}

.goal .goal-items {
margin-top: 50px;
display: flex;
gap: 40px;
}

.goal .goal-items .item {
display: flex;
flex-direction: column;
gap: 20px;
border: 2px solid #006b6a;
border-radius: 10px;
padding: 30px;
cursor: pointer;
transition: all 0.3s ease;
}

.goal .goal-items .item p {
line-height: 22px;
font-size: 14px;
}

.goal .goal-items .item .icon {
display: flex;
align-items: center;
justify-content: center;
background-color: #fff;
color: #006b6a;
width: 46px;
height: 46px;
border-radius: 10px;
box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

footer .top .social-link {
display: flex;
align-items: center;
gap: 10px;
font-size: 22px;
}

footer {
background-color: #deebee;
padding: 85px;
display: flex;
flex-direction: column;
}

footer .top,
footer .bottom {
display: flex;
align-items: center;
justify-content: space-between;
}

footer .separator {
width: 100%;
height: 2px;
background-color: #282938;
margin: 30px 0 20px;
}

footer .bottom p {
font: size 12px;
}

footer .bottom .links a {
font-size: 12px;
margin-left: 14px;
}

@media screen and (max-width: 1200px) {
.main .left h5 {
font-size: 18px;
}
.main .left h3 {
font-size: 36px;
}
.main .left p {
font-size: 18px;
}

.main .right img {
width: 380px;
}

.skills .skill-items {
gap: 10px;
justify-content: space-between;
flex-wrap: wrap;
}

.skills .skill-items .item {
width: 49%;
}

.about .left img {
width: 370px;
}

.skills h3,
.about .right h3,
.strategies .header h3,
.goal h3 {
font-size: 32px;
}

.about .right p {
font-size: 15px;
}

.goal .goal-items .item {
font-size: 20px;
}

.goal .goal-items .item p {
font-size: 13px;
}

footer .top ul {
gap: 20px;
}
}

@media screen and (max-width: 992px) {
nav button {
display: none;
}

nav ul {
gap: 20px;
}

nav ul li a {
font-size: 15px;
}

.main {
flex-direction: column;
}

.about {
flex-direction: column;
justify-content: center;
}

.strategies .strategy-items {
gap: 22px;
flex-wrap: wrap;
justify-content: center;
}

.strategies .strategy-items .item {
width: 48%;
}

.goal .goal-items {
gap: 14px;
flex-wrap: wrap;
justify-content: center;
}

.goal .goal-items .item {
width: 48%;
}

footer .top ul {
display: none;
}
}

@media screen and (max-width: 768px) {
nav {
justify-content: space-between;
padding: 0 42px;
}

nav ul {
display: none;
}

nav.open .logo {
display: none;
}

nav.open ul {
display: flex;
}

nav button#menuButton {
display: flex;
}

.main {
padding: 42px;
}

.skills {
padding: 85px 42px 0;
}

.skills .skill-items {
gap: 8px;
}

.about {
padding: 85px 42px;
}

.strategies {
padding: 60px 42px;
}

.strategies .strategy-items {
gap: 18px;
}

.goal {
padding: 85px 42px;
}

footer {
padding: 85px 42px;
}

footer .bottom {
flex-direction: column-reverse;
gap: 14px;
}
}

@media screen and (max-width: 576px) {
nav ul li a {
font-size: 13px;
}

nav .logo a {
font-size: 18px;
}

.main .left h3 {
font-size: 32px;
}

.main .left p {
font-size: 16px;
}

.main .left button {
width: 100%;
}

.skills .skill-items .item {
width: 100%;
}

.strategies .header button {
font-size: 12px;
padding: 8px 14px;
}

.strategies .strategy-items .item {
width: 80%;
}

.goal .goal-items .item {
width: 100%;
}
}
